{% extends 'base.html' %}

{% block title %}Detail{% endblock title %}

{% block body %}
<h1>{{ article.title }}</h1>
  <p>작성일자 : {{ article.created_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <hr>
  <a href="{% url 'articles:index' %}">[뒤로가기]</a><br>
  <a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
  {% comment %} article.pk 를 variable routing 으로 넘겨준다. delete 라는 url 에서  {% endcomment %}
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% comment %} 우리가 제공하는 form 에서만 삭제하도록 / 안전장치 역할 {% endcomment %}
    {% csrf_token %}
    <button type="submit">삭제하기</button>
  </form>
  {% comment %} a tag : GET 요청과 동일 / 주소창에 url 치는 것과 동일 {% endcomment %}
  <a href="{% url 'articles:delete' article.pk %}" onclick="return confirm('Are you sure?')">[삭제하기]</a>
{% endblock body %}
