{% extends 'base.html' %}

{% block title %}Detail{% endblock title %}

{% block body %}

  <h1>{{ article.title }}</h1>
  <p>작성일자 : {{ article.created_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <hr>
  <h4>Comments</h4>
  {% comment %} Comment 입력 위한 Form {% endcomment %}
  <form action="{% url 'articles:comments_create' article.pk %}" method='POST'>
    {% csrf_token %}
    {% comment %} 나중에 넣는 데이터를 name으로 받아서 사용하려고 함  {% endcomment %}
    <input type="text" name="content">
    <button type="submit">댓글작성</button> 
  </form>


  {% comment %} 데이터가 여러개 -> 반복문(for) 돌면서 꺼내서 하나하나 표시해주기 {% endcomment %}
  <ul>
  {% for comment in comments %}
    <li>{{ comment.content }}</li>
  {% empty %}
    <p>아직 댓글이 없습니다.</p>
  {% endfor %}

  
  </ul>


  <hr>
  <a href="{% url 'articles:index' %}">[뒤로가기]</a><br>
  <a href="{% url 'articles:update' article.pk %}">[수정하기]</a>


  {% comment %} article.pk 를 variable routing 으로 넘겨준다. delete 라는 url 에서  {% endcomment %}
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% comment %} 우리가 제공하는 form 에서만 삭제하도록 / 안전장치 역할 {% endcomment %}
    {% csrf_token %}
    <button type="submit">삭제하기</button>
  </form>


  {% comment %} a tag : GET 요청과 동일 / 주소창에 url 치는 것과 동일 {% endcomment %}
  <a href="{% url 'articles:delete' article.pk %}" onclick="return confirm('Are you sure?')">[삭제하기]</a>

{% endblock body %}
